<div class="dropDown">
<p  class="dropDown__input-help" >текст</p>
<input  onclick="o2.dropDown.open(event)" class="dropDown__input"  onblur="o2.dropDown.close(event)"type="text">
<div class="dropDown__box _hidden">
	<p class="dropDown__p">текст</p>
	<p class="dropDown__p">текст</p>
	<p class="dropDown__p">текст</p>
</div>
</div>
