
.dropDown
{
	position: relative;
}
.dropDown__input-help
{
	margin-left: 10px;
	position: absolute;
	top: 10px;
	color: #222;
	opacity: 0.3;
}
.dropDown__input
{
	width: 200px;
	height: 60px;
}
.dropDown__box
{


}
.dropDown__input-lable
{
	position: absolute;
	top: -10px;
	color: #222;
	margin-left: 10px;
}
._hidden
{
	pointer-events: none;
	opacity: 0;
}
._error
{
	border-color: red;
}
