
.dropdown{position: relative;}
.dropdown__lable{position: absolute;}
.dropdown__input-help
{
	margin-left: 10px;
	position: absolute;
	top: 10px;
	color: #222;
	opacity: 0.3;
}
.dropdown__input
{
	width: 200px;
	height: 60px;
	&:focus~ .dropdown__input-help
	{
		transition: all 0.5s ease-out;
		top: 0px;
		color: #000;
		opacity: 1;
	}
}
.dropdown__box
{
	visibility: hidden;
	opacity: 0;
}
.dropdown__input-help
{
	position: absolute;
	top:11px;
	margin-left: 10px;
	background-color: transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid #fff;

}
.dropdown__arrow
{
	border-top: 1px solid black;
	border-right: 1px solid black;
	width: 10px;
	height: 10px;
	position: relative;
	left: 160px;
	bottom: -38px;
	transform: rotate(315deg);
}

._hidden{display: none;}
.error{border-color: red;}
.dropdown--opened
{
	.dropdown__box
	{
		transition: all 1s ease-out;
		transform: translateY(16px);
		visibility: visible;
		opacity: 1;
		z-index: 2;
	}
	.dropdown__arrow{transform: rotate(135deg);}

}
