<div
class="dropdown  _dropdown ">
	<div class="dropdown__arrow dropdown__arrow-up"></div>
	<input class="dropdown__input"
	onclick="o2.dropDown.toggle(this)"
	onblur="o2.dropDown.close(this)"type="text">
	<p  class="dropdown__input-help">текст</p>
	<div class="dropdown__box ">
		<p>текст</p>
		<p>текст</p>
		<p>текст</p>
	</div>
</div>
