<div class="dropdown">
<p class="dropdown__lable _hidden">111</p>
<p  class="dropdown__input-help" >текст</p>
<input  onclick="o2.dropDown.open(event)" class="dropdown__input"  onblur="o2.dropDown.close(event)"type="text">
<div class="dropdown__arrow dropdown__arrow-up"></div>
<div class="dropdown__box _hidden">
	<p class="dropdown__p">текст</p>
	<p class="dropdown__p">текст</p>
	<p class="dropdown__p">текст</p>
</div>
</div>
