
.dropdown{position: relative;}
.dropdown__lable
{
	position: absolute;
}
.dropdown__input-help
{
	margin-left: 10px;
	position: absolute;
	top: 10px;
	color: #222;
	opacity: 0.3;
}
.dropdown__input
{
	width: 200px;
	height: 60px;
}

.dropdown__input-lable
{
	position: absolute;
	top: -10px;
	color: #222;
	margin-left: 10px;
}
.dropdown__arrow
{
	border-top: 1px solid black;
	border-right: 1px solid black;
	width: 10px;
	height: 10px;
	position: relative;
	left: 160px;
	bottom: 35px;
}
.dropdown__arrow-up{transform: rotate(315deg);}
.dropdown__arrow-down{transform: rotate(135deg);}
._hidden{display: none;}
._error{border-color: red;}
