<div class="slider">
	<button class="slider__btn" onclick="o2.slider.prev(this)"><img src="./svg/left-normal.svg" alt="arrow"></button>
	<button class="slider__btn" onclick="o2.slider.next(this)"><img src="./svg/right-normal.svg" alt="arrow"></button>
	<h2 class="slider__h2">Популярные Товары</h2>
	<div class="slider__box">
		<div class="slider__visible">
			<div class="slider__item ">
				<div class="slider__serdce" onclick="o2.slider.toggle(this)">{% include '@assets/svg/serdce.svg' %}</div>
				<p class="slider__action">экономия 20 %</p>
				<img src="./img/Image.png" alt="slider__item">
				<h3>Вимакс Супер Форте капс. № 30</h3>
				<p>	250,20р</p>
				<div class="slider__rating">
					<div class="slider__rating" >
					<div class="slider__rating--active"></div>
						<input onclick="o2.slider.choice(this)" class="slider__rating-item" type="radio" name="rating"  value="1">
						<input onclick="o2.slider.choice(this)" class="slider__rating-item" type="radio" name="rating" value="2">
						<input onclick="o2.slider.choice(this)" class="slider__rating-item" type="radio" name="rating" value="3">
						<input onclick="o2.slider.choice(this)" class="slider__rating-item" type="radio" name="rating" value="4">
						<input onclick="o2.slider.choice(this)" class="slider__rating-item" type="radio" name="rating" value="5">
					</div>
				</div>
				<p>258,20р</p>
				<button class="slider__buy">в корзину</button>
			</div>
		</div>
	</div>
</div>