<div class="drop">
<p  class="drop__input-help" >текст</p>
<input  onclick="o2.drop.dropDown()" class="drop__input"  onblur="o2.drop.dropDownNone(event)"type="text">
<div class="drop__box _hidden">
	<p class="drop__p">текст</p>
	<p class="drop__p">текст</p>
	<p class="drop__p">текст</p>
</div>
</div>
