<div class="box-block">
<button class="box-block__btn" onclick="o2.boxBlock.next(this)">next</button>
		<button class="box-block__btn" onclick="o2.boxBlock.prev(this)">prev</button>
	<div class="box-block__slider">
		
		<div class="box-block__visiont" data-count = '1'>
			<div class="box-block__slider__item">1</div>
			<div class="box-block__slider__item">2</div>
			<div class="box-block__slider__item">3</div>
			<div class="box-block__slider__item">4</div>
			<div class="box-block__slider__item">5</div>
			<div class="box-block__slider__item">6</div>
			<div class="box-block__slider__item">7</div>
			<div class="box-block__slider__item">8</div>
			<div class="box-block__slider__item">9</div>
			<div class="box-block__slider__item">10</div>
		</div>
	</div>
	<div class="block__visiont__item">1</div>
	<div class="box-block__panel">
		<button onclick="o2.boxBlock.move(this)" class="btn__panel next">forward</button>
		<button onclick="o2.boxBlock.move(this)" class="btn__panel back">back</button>
		<button onclick="o2.boxBlock.move(this)" class="btn__panel left">left</button>
		<button onclick="o2.boxBlock.move(this)" class="btn__panel right">right</button>
	</div>

	
	<div class="box-block__mashina" data-axisX = '0' data-axisY = '0' ></div> 
	{# в дата сете отсутствует кемл кейс #}
	<button onclick="o2.boxBlock.createBox(this)">создать блоки</button>
	<div class="boox__xbox">
		
	</div>

</div>
